version: '3.8'
services:
  client:
    build: ./client
    ports:
      - "5173:5173"
    depends_on:
      - server
  server:
    build: ./server
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
